* {
    box-sizing: border-box;
    line-height: 1;
    margin: 0; padding: 0;
}

html, body {
    display: block;
    font-size: 14px/100%;
    position: relative;
    width: 416px;
}


/** List */
.list {
    list-style: none;
    padding: 0 16px;
    width: 100%;
}

.list_item {
    margin: 16px 0;
}


/** Preview */
.preview {
    background-color: #f2f2f2;
}


/** Preview Image */
.preview_image {
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.preview_image:hover {
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.25);
}

.preview_image--chosen:before {
    align-items: center;
    background-color: rgba(92, 107, 192, 0.85);
    color: white;
    content: 'Chosen';
    display: flex;
    font-size: 16px;
    justify-content: center;
    left: 0; top: 0;
    position: absolute;
    width: 100%; height: 100%;
}


/** Preview Panel */
.preview_panel {
    align-items: center;
    display: flex;
    flex-flow: raw nowrap;
    justify-content: space-between;
    padding: 8px 16px;
    width: 100%;
}


/** Preview Palette */
.preview_palette {
    display: flex;
}

.preview_palette_color {
    background: red;
    border-radius: 50%;
    border: solid 1px white;
    margin: 2px;
    width: 12px; height: 12px;
}


/** Preview Name */
.preview_name {
    color: #111;
    font-size: 12px;
    font-weight: 500;
}
