@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');

* {
    font-family: 'Source Sans Pro', sans-serif!important;
}

.site-header,
.header {
    background: black!important;
}

.header-logo-invertocat,
.header-logo-wordmark {
    color: #0f0!important;
}

.header-logo-invertocat:hover,
.header-logo-wordmark:hover,
.header-nav-link:hover,
.header-nav-link:focus,
.site-footer-mark:hover {
    filter: grayscale(25%);
}

.site-header-nav .selected {
    border-bottom: 3px solid #0f0!important;
}

.site-header-nav .nav-item,
.site-header-link,
.header-nav-link {
    color: #0f0!important;
}

.header-search-scope {
    color: #0f0!important;
}

.header-search-wrapper {
    background: #1f1f1f!important;
    color: #0f0!important;
}

.site-header .form-control,
.site-header .form-select {
    border: 1px solid black!important;
    color: #0f0!important;
}

.site-header .form-control:focus,
.site-header .form-select:focus {
    border: 1px solid #0f0!important;
}

.header-search-input::-webkit-input-placeholder {
    color: rgba(0, 255, 0, 0.9)!important;
}

.header-search-input::placeholder {
    color: rgba(0, 255, 0, 0.9)!important;
}
